@layer utilities {
  .primary-gradient {
    @apply bg-gradient-to-r from-blueDark to-blueMedium;
  }
  .secondary-gradient {
    background: linear-gradient(
      269.74deg,
      rgba(255, 255, 255, 0.41) -254.09%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .accent-gradient {
    @apply bg-gradient-to-r from-yellow to-orange;
  }

  .transition-ease {
    @apply transition-all duration-400 ease-out-expo will-change-transform;
  }
  .no-events {
    @apply pointer-events-none select-none;
  }

  .active-link {
    position: relative;
    color: white;

    &::after {
      @apply absolute content-[''] inset-0 -left-32 shadow-outline-sm rounded-r-xl lg:rounded-r-3xl secondary-gradient;
    }
  }

  .stroke {
    position: relative;

    &-right::after {
      @apply content-[''] w-0.25 bg-white absolute right-0 bottom-8 h-3/4 hidden lg:block;
    }

    &-bottom::after {
      @apply content-[''] block w-[86%] h-0.25 ml-auto bg-white absolute lg:bottom-4 bottom-0 lg:right-10 inset-x-4;
    }

    &-bottom-sm::after {
      @apply content-[''] w-[15%] h-0.5 left-1 absolute top-10 group-hover:bg-white transition-ease;
    }
  }
}
